.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-container {
    width: 500px;

    p {
        margin-bottom: 1em;
        text-align: center;
    }
}
