.input-group {
    padding: 1em;

    label.label {
        margin-bottom: 0.5em;
        display: block;
        font-size: 20px;
    }

    .input {
        position: relative;
        font-size: 16px;
        display: block;
        // padding: 1.25em 0.5em 1.25em 3em;
        padding: 0.25em;
        width: 100%;
        border: 0;
    }

    .input:focus {
        outline: 0;
    }

    &__icon {
        font-size: 25px;
        position: absolute;
        z-index: 20;
        top: calc(50% - 17px);
        left: 12px;
        color: #888;
    }

    .input-container {
        display: flex;
        position: relative;
        padding: 1em 0.5em 1em 3em;
        background-color: white;
        border-radius: 4px;
    }
}

.error-message {
    color: red;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: 4px;
}

// &:focus {
//     outline: 0;
//     box-shadow: 0px 0px 3px 2px rgb(46, 161, 255);
// }
