.input-group {
    padding: 1em;

    .input {
        font-size: 16px;
        display: block;
        padding: 1.25em 0.5em;
        border-radius: 0.25em;
        border: 1px #333 solid;
        width: 100%;
    }

    .input:focus {
        outline: 0;
    }
}

.error-message {
    color: red;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: 4px;
}
