.score-display-container {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25em;

    &:nth-last-child(1) {
        width: 100%;
        padding: 1em 0;
        font-size: 24px;
    }

    .scoring-button {
        width: 20px;
        height: 20px;
        background-color: green;
        border: 0;
        cursor: pointer;

        &.saved {
            background-color: red;
        }

        &.testing {
            background-color: yellow;
        }
    }
}

.score-container {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    justify-content: space-between;
}
