.dice-holder {
    display: flex;
    width: 440px;
    justify-content: space-between;
}

.dice-action-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}
