.container {
  width: 600px;
  margin: auto;
}

.gameBox {
  border: 1px black solid;
  margin: 1em auto;
}

.diceBox, .holdsBox {
  width: 520px;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.hold, .unhold {
  width: 70px;
  border: 1px black solid;
}

.unhold {
  background-color: red;
}

.diceBox {
  user-select: none;
}

.gameBtns {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1em;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.gameBtn {
  border: 1px black solid;
  background-color: steelblue;
  color: white;
  padding: 4px 8px;
  font-size: 16px;
  box-shadow: 3px 3px 5px black;
  transition: all, .5s;
}

.offBtn {
  background-color: grey;
  color: #333;
  box-shadow: none;
}

.scoringGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: .5px darkred solid;
  grid-gap: 5px;
  padding: 5px 10px;
}

@media (max-width:600px) {
  .container {
    width: 100%;
  }
  .diceBox, .holdsBox {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .hold, .unhold {
    width: 50px;
  }
}