.gameBox{
  border: 1px black solid;
  margin: 1em auto;
}

.diceBox, .holdsBox{
  width: 520px;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.hold, .unhold{
  width: 70px;
  border: 1px black solid;
}

.unhold{
  background-color: red;
}

.diceBox{
  user-select: none;
}

.scoringGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: .5px darkred solid;
  grid-gap: 5px;
  padding: 5px 10px;
}

.container{
  width: 600px;
  margin: auto;
}

@media (max-width:600px) {
  .container{
    width: 100%;
  }

  .diceBox, .holdsBox{
    width: 100%;
  }

  .hold, .unhold{
    width: 50px; 
  }
}