.outsideLogin {
  height: calc(100vh - 57px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.outsideLogin h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 1em;
  color: seagreen;
  letter-spacing: 1.5px;
  text-decoration: underline;
}

.login {
  width: 50%;
  min-width: 350px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  background-color: seagreen;
}

.signBox {
  position: relative;
}

.inputGroup input {
  border: none;
  background-color: seagreen;
  padding: 7px;
  font-size: 18px;
  width: 100%;
  border-bottom: 2.6px white solid;
  outline: 0;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.inputGroup {
  padding: 10px;
}

.loginButtonHolder {
  height: 50px;
  position: relative;
  top: 10px;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  place-items: center center;
  justify-content: space-around;
}

.switchBtn {
  border: none;
  background-color: seagreen;
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.loginBtn{
  padding: 10px 18px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.loginBtn:hover{
  background-color: #ddd;
  color: white;
}