.container {
  width: 600px;
  margin: auto;
  user-select: none;
}

.gameBox {
  margin: 1em auto .5em auto;
  position: relative;
  background-color: rgb(0, 158, 0);
  background-color: #444;
  border-radius: 5px;
  padding: 5px 0px;
}

.diceBox, .holdsBox {
  width: 520px;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.hold, .unhold {
  width: 70px;
  height: 18px;
  border: 1px black solid;
  border-radius: 5px;
}

.unhold{
  background-color: white;
}

.unhold {
  background-color: rgb(173, 1, 1);
  color: white;
}

.diceBox {
  user-select: none;
}

/* Dice and Hold show/hide animations */

.showBox{
  opacity: 0;
  animation-name: showBox;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.hideBox{
  opacity: 1;
  animation-name: hideBox;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes showBox{
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes hideBox{
  0% {opacity: 1}
  100% {opacity: 0;}
}

/* End of animations */

.gameBtns {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: .5em;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.gameBtn {
  border: none;
  border-radius: 5px;
  background-color: steelblue;
  color: white;
  padding: 5px 22px;
  font-size: 16px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322);
  transition: all, .5s;
}

.gameBtn:active{
  box-shadow: none;
  transition: box-shadow .25s;
}

.endgameBtnHolder{
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.offBtn {
  background-color: grey;
  color: #333;
  box-shadow: none;
}

.scoringGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: .5px rgb(0, 158, 0) solid; */
  grid-gap: 5px;
  padding: 5px 10px;
  background-color: rgba(0, 158, 0, 0.795);
  background-color: #444;
  border-radius: 5px;
  color: white;
}

.rulesBtn{
  padding: 6px 12px;
  margin: .5em auto;
  display: block;
  border-radius: 5px;
  background-color: steelblue;
  color: white;
  font-size: 18px;
  border: none;
}

.blocker{
  height: 112px;
  width: 100%;
  background-color: #444;
  border-radius: 5px;
  top: 0px;
  position: absolute;
  z-index: 10;
}

.endGameBox{
  position: absolute;
  width: 330px;
  top: 20vh;
  background-color: white;
  border: 1px black solid;
  z-index: 5;
  left: calc(50vw - 165px)
}

.endGameContent{
  width: 100%;
  padding: 10px;
  text-align: center;
}

.endGameContent h3{
  margin-bottom: 1em;
}

.bg{
  position: absolute;
  height: calc(100vh - 56.8px);
  top: 56.8px;
  width: 100vw;
  z-index: 3;
  background-color: #333;
  opacity: .95;

}

@media (max-width:600px) {
  .container {
    width: 96%;
    margin: auto;
  }
  .diceBox, .holdsBox {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .hold, .unhold {
    width: 50px;
    font-size: 11px;
  }

  .blocker{
    height: 92px;
  }

  .gameBtn{
    font-size: 14px
  }
}